{% extends "base.html" %}

{% block title %}OpenCPI {{title}}{% endblock %}

{% block content %}
{% if is_latest %}
<h1>OpenCPI {{title}} Documentation (latest release)</h1>
{% else %}
<h1>OpenCPI {{title}} Documentation</h1>
{% endif %}
<a href="{{ releases_all_url }}">All OpenCPI Releases</a>
<div class="main-section">{{ sections["main"] }}</div>
<div class="main-section">{{ sections["core"] }}</div>
<div class="main-section">{{ sections["platform"] }}</div>
<div class="main-section">{{ sections["assets"] }}</div>
<div class="main-section">{{ sections["assets_ts"] }}</div>
<div class="main-section">{{ sections["tutorial"] }}</div>
<div class="main-section">{{ sections["analog"] }}</div>
<div class="main-section">{{ sections["e3xx"] }}</div>
<div class="main-section">{{ sections["plutosdr"] }}</div>
<div class="main-section">{{ sections["ettus"] }}</div>
<div class="main-section">{{ sections["avnet"] }}</div>
<div class="main-section">{{ sections["xilinx"] }}</div>
<div class="main-section">{{ sections["n3xx"] }}</div>
<div class="main-section">{{ sections["epiq-solutions"] }}</div>
<div class="main-section">{{ sections["sdr"] }}</div>
{% endblock %}
